@charset "utf-8";
/*reset:0*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
html,body {height:100%;}
body {
	line-height:1;
	min-width:320px;
	max-width:414px;margin:0 auto;
	font-size:12px;
	font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
	background-color:#eee;
	color:#333;
}
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
a {
	margin:0;padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
	outline:none;
	color:#333;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
table {border-collapse:collapse;border-spacing:0;}
input,select {vertical-align:middle;}
h3,h4,h5,h6 {font-weight:400;}
em,i {display:inline-block;vertical-align:middle;font-style:normal;}
/*reset:1*/
/*Common:0*/
.dis_0 {display:none!important;}
.dis_1 {display:block!important;}
.fixed {position:fixed;left:0;right:0;z-index:1;max-width:414px;margin:0 auto;}
.img>img {display:block;width:100%;}
.btn {
	position:relative;
	box-sizing:border-box;
	display:block;border:none;outline:0;padding:0;
	width:100%;height:42px;line-height:40px;
	text-align:center;
	background-color:#f9f9f9;color:#666;
	font-family:'microsoft yahei';
	border:1px solid #ddd;
	font-size:0;
	cursor:pointer;
	border-radius:2px;
}
.btn>em {font-size:14px;}
.btn.submit,.btn.dark {
	background-color:#0085d0;color:#fff;
	border:none;line-height:42px;
}
.btn:disabled {background-color:#ddd;}
.btn:disabled>em {color:#f9f9f9;}
.btn.link {border-color:#0085d0;color:#0085d0;background-color:transparent;}

.com-input {	
	display:block;
	box-sizing:border-box;
	width:100%;height:48px;line-height:48px;
	border:none;outline:none;
	padding:0 16px 0 16px;
	transition:opacity 0.3s;
	background-color:transparent;
	font-size:12px;
	font-family:'microsoft yahei';
}
.com-input::-webkit-input-placeholder {color:#bbb;}
.com-input:focus::-webkit-input-placeholder {
    transition:opacity 0.3s 0.03s ease;
    opacity:0.38;
}
textarea.com-input {height:120px;padding:16px;}

.aw {
	position:absolute;top:50%;right:16px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-3px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.ico {
	width:18px;height:18px;
	background-size:18px;
	margin-right:8px;
	background-repeat:no-repeat;
	background-position:0 0;
}

/*Common:1*/
/*List:0*/
.list {line-height:1.25;background-color:#fff;padding:0 16px;border-bottom:1px solid #ddd;}
.list>li,.list>li>a {display:-webkit-flex;display:flex;}
.list>li {position:relative;border-bottom:1px solid #eee;padding:16px 0;}
.list>li:last-child {border-bottom:none;} 
.list>li label {display:block;width:90px;color:#999;}
.list>li em {-webkit-flex:1;flex:1;}
.list>li .noData {color:#999;}
.list>li .num {
	position:absolute;top:50%;right:0;
	height:16px;line-height:16px;padding:0 10px;
	background-color:#0085d0;color:#fff;
	font-size:12px;
	text-align:center;
	border-radius:16px;
	margin-top:-8px;
}
.list>li.link .num {right:20px;}

.list>li.link {padding:0;}
.list>li.link>a {padding:16px 0px;width:100%;}
.list>li.link>a::after {
	content:"";
	position:absolute;top:50%;right:5px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-4px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
.list>li.link>a>em {padding-right:16px;}
.list>li.edit {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d02PyVvAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yNC8xN6CqhysAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAp0lEQVQoka3PrRHCQBDF8RfDx4BGMUMLKYMyQgWUEATiFKSDzCCw0AmDoAIUKo4JJo/bmHtZg+Hc/ueXuw0g58CTjpiSXa6hJHnXsIyh1ZDd4jdpnOQ9SaF+9kSe6IykO2rSSCU7GFkoMKJLcrBnD8hiCPj+BVoPKgc+fwSlA1njwNgBzB3AygFsHcDFwg6jUCDssQ6wRx7AjFfE3z0ScT5DQ/PaQMMX9GXAg2liw30AAAAASUVORK5CYII=) right center no-repeat;
	background-size:16px;
	padding-right:20px;
}
/*List:1*/
/*frm-box:0*/
.frm-boxs {background-color:#fff;}
.frm-box {
	position:relative;
	display:flex;
	background-color:#fff;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #eee;
}
.frm-box>.unit {display:block;line-height:48px;color:#999;}
.frm-box:last-child {border:none;}

.frm-box-hd {
	display:-webkit-flex;
	display:flex;
	padding-left:16px;
}
.frm-box-hd .frm-title {width:64px;color:#999;padding:16px 0;line-height:1.25;}
.frm-box-bd {flex:1;padding-left:16px;line-height:1.25;}
.frm-box-bd .val {display:block;padding:16px;}
.frm-box-bd input + .val {padding-right:20px;}
.frm-box-hd + .frm-box-bd {padding-left:0;}
.frm-ico {
	display:block;
	width:24px;height:24px;
	margin-right:10px;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:24px;
}
.frm-boxs.wide .frm-box {border-left:none;border-right:none;margin:0 16px;padding:0;}
.frm-boxs.wide .frm-box .frm-box-hd {padding-left:0;}
.frm-boxs.wide + .frm-action {padding:16px;background-color:#f9f9f9;border-top:1px solid #eee;border-bottom:1px solid #ddd;}
.frm-action {
	display:-webkit-flex;
	display:flex;
}
.frm-action .btn {margin-left:16px;}
.frm-action .btn:first-child {margin-left:0px;}
.frm-box.col {
	flex-direction:column;
	align-items:flex-start;
}
.frm-box.col .frm-box-bd {width:100%;}
.frm-box textarea.com-input {line-height:1.45;}

.frm-box-bd.link::after {
	content:"";
	position:absolute;top:50%;right:5px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-4px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}

.btn.code {
	position:absolute;top:10px;right:0;
	width:90px;height:28px;line-height:26px;
	border:1px solid #ddd;
	padding:0 10px;	
}
.btn.code>em {font-size:12px;}
.frm-box.err .frm-title {color:#f90000;}
/*frm-box:1*/
/*Action-Bar:0*/
.action-bar {
	position:relative;z-index:9;
	width:100%;
	background-color:#fff;	
	display:-webkit-flex;display:flex;
	align-items:center;
	box-shadow:0 -2px 2px rgba(0,0,0,.06);
	max-width:414px;margin:0 auto;
	padding:16px;
	border-top:1px solid #ddd;
}
.action-bar .btn {-webkit-flex:1;flex:1;height:42px;line-height:40px;margin-right:16px;}
.action-bar .btn:last-child {margin-right:0;}
.action-bar.fixed {bottom:0;}
/*Action-Bar:1*/
/*com-tip:0*/
.com-tip {
	display:none;
	position:absolute;bottom:0;left:0;right:0;
	height:48px;line-height:48px;
	background-color:rgba(0,0,0,.8);
	color:#fff;
	text-align:center;
	z-index:9;
	font-size:12px;
}
.com-tip.top {top:0;bottom:auto;}
.com-tip.toast {
	top:50%;left:50%;bottom:auto;right:auto;
	width:160px;height:auto;line-height:1.2;
	min-height:32px;
	max-height:80px;
	padding:8px 8px;
	margin-top:-16px;
	margin-left:-80px;
	border-radius:4px;
}
/*com-tip:1*/
/*LineTitle:0*/
fieldset.line-title {
    border:0;
    border-top:1px solid #ddd;
	margin:16px 0;
}
fieldset.line-title>legend { 
    color:#666;
	padding:0 16px;
	text-align:center;
	margin:0 auto;
}
/*LineTitle:1*/

/*Selex-tBox:0*/
.select-box {position:relative;}
.select-box>select {
	display:block;
	width:100%;height:48px;line-height:48px;
	-webkit-appearance:none;
	font-family:'microsoft yahei';
	background:none;
	border:none;
	padding:0 30px 0 16px;
	outline:0;
	font-size:12px;
}
.select-box::after {
	content:"";
	position:absolute;top:50%;right:10px;
	font-size:0;
	border-bottom:1px solid #bbb;border-right:1px solid #bbb;
	width:6px;height:6px;
	margin-top:-5px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
/*Select-Box:1*/
/*Com-Tab:0*/
.com-tab {
	display:-webkit-flex;display:flex;border-bottom:1px solid #ddd;
	background-color:#f9f9f9;
}
.com-tab li {position:relative;-webkit-flex:1;flex:1;text-align:center;padding:16px 0;}
.com-tab li.link {padding:0;font-size:14px;}
.com-tab li.link>a {display:block;padding:16px 0;background-color:#fff;color:#666;}
.com-tab li.cur,
.com-tab li.cur.link>a {color:#0085d0;}
.com-tab li.cur::after {
	content:"";
	position:absolute;bottom:-1px;left:0;right:0;
	height:1px;background-color:#0085d0;
} 
.com-tab li i.num {
	width:16px;height:16px;
	line-height:16px;
	border-radius:8px;
	background-color:#bbb;color:#fff;
	margin-right:8px;
}
.com-tab li.cur i.num {background-color:#0085d0;}
.com-tab.noBorder {border:none;}
.com-tab.noBorder li.cur::after {bottom:0;}
.tab-main .tab-item {display:none;}
.tab-main .tab-item.active {display:block;}
/*Com-Tab:1*/
/*Com-Box:0*/
.com-box {
	border-bottom:1px solid #ddd;
	background-color:#fff;
	margin-bottom:8px;
}
.com-box>header {
	position:relative;
	display:-webkit-flex;display:flex;
	height:42px;line-height:42px;padding:0 16px;
	background-color:#f9f9f9;
}
.com-box>header h3 {font-size:0;-webkit-flex:1;flex:1;}
.com-box>header h3>em {font-size:12px;font-weight:700;}

.com-box>header.link>a {display:block;width:100%;}
.com-box>header.link>a::after {
	content:"";
	position:absolute;top:50%;right:18px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-4px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}

.com-box .body {position:relative;border-top:1px solid #eee;}
.com-box .body>a {display:block;}
.com-box>footer {
	position:relative;
	
	padding:16px;
	border-top:1px solid #eee;
	background-color:#f9f9f9;
}
.com-box.close {border:1px solid #ddd;border-radius:4px;margin:0 16px 10px;}

.com-box .list {padding:0 16px;border-bottom:none;}
.com-box .list>li,
.com-box .list>li.link>a {padding:16px 0;height:auto;line-height:1.25;}
.com-box .list>li.link {padding:0;}
.com-box .list>li.link>a::after {right:3px;}
.com-box .list>li>em,.com-box .list>li.link>a>em {text-align:left;}

.com-box .com-table {margin-bottom:0;}
.com-box .com-table th,.com-box .com-table td {border-left:none;}
.com-box .com-table tr:last-child>td {border-bottom:none;}
.com-box .com-table tr>th:last-child,
.com-box .com-table tr>td:last-child  {text-align:right;} 
/*Com-Box:1*/
/*Pop-Box:0*/
.pop {
	display:none;position:absolute;bottom:0;left:0;right:0;z-index:10;padding:16px;
	max-width:414px;margin:0 auto;
}
.pop .box {	
	position:relative;z-index:99;
	border:1px solid #ddd;
	background-color:#fff;
	box-shadow:0px 0px 20px rgba(0,0,0,.15);
}
.pop .box .btn.close {display:block;border:none;width:42px;height:42px;background:none;font-size:24px;color:#999;outline:0;}
.pop .box>header {
	background-color:#f9f9f9;border-bottom:1px solid #eee;
	display:-webkit-flex;
	display:flex;
	height:42px;line-height:42px;
}
.pop .box>header>h3 {-webkit-flex:1;flex:1;padding-left:16px;font-weight:400;color:#999;}
.pop .box>footer {padding:16px;background-color:#f9f9f9;border-top:1px solid #eee;}
.pop.mask:before {content:"";position:fixed;top:0;left:0;right:0;bottom:0;top:0;background-color:rgba(0,0,0,.62);z-index:9;}
.pop.mask>.box {border:none;}
.pop .action {display:-webkit-flex;display:flex;}
.pop .action .btn {
	-webkit-flex:1;flex:1;
	margin-right:10px;
}
.pop .action>.btn:last-child {margin:0;}
.pop .action .btn>em {font-size:14px;}
.pop.confirm .content {padding:40px 24px;text-align:center;line-height:1.45;font-size:14px;}
.pop.confirm .content>em {padding:0 3px;color:#dc1b16;}
.pop.confirm .action {padding:0 16px 16px;} 
/*Pop-Box:1*/
/*tb-list:0*/
.tb-hd {
	display:-webkit-flex;
	display:flex;
	background-color:#f9f9f9;border-bottom:1px solid #eee;	
}
.tb-td {display:block;-webkit-flex:1;flex:1;padding:16px;padding-right:0;}
.tb-hd .tb-td {color:#999;}
.tb-td.num {
	-webkit-flex:none;flex:none;
	width:80px;

}
.tb-td.state {-webkit-flex:none;flex:none;width:90px;padding-right:15px;} 
.tb-td.phone {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.tb-list {background-color:#fff;}
.tb-list>li {position:relative;border-bottom:1px solid #eee;}
.tb-list>li:last-child {border-bottom-color:#ddd;}
.tb-list>li,
.tb-list>li.link>a {display:-webkit-flex;display:flex;align-items:center;}
.tb-list>li.link {display:block;padding-right:20px;}
.tb-list>li.link::after,
.tb-list>li.has-aw::after{
	content:"";
	position:absolute;top:50%;right:18px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-4px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
.tb-list .tb-td.score,.tb-list .tb-td.rate {color:#0085d0;}
.has-aw {padding-right:20px;}
/*tb-list:1*/
/*nav-box:0*/
.nav-box {position:relative;}
.nav-box>.main>li {
	position:relative;
	border-bottom:1px solid #eee;
}
.nav-box>.main>li:last-child {border:none;}
.nav-box>.main {
	background-color:#fff;
	padding:8px 16px 8px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.nav-box>.main>li>a {
	display:block;
	height:42px;line-height:42px;
	font-size:0;
}
.nav-box>.main>li>a::after {
	content:"";
	position:absolute;top:50%;right:6px;
	font-size:0;
	border-top:1px solid #bbb;border-left:1px solid #bbb;
	width:7px;height:7px;
	margin-top:-4px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
.nav-box>.main>li>a>em {font-size:14px;}
.nav-box .ico {
	width:24px;height:24px;
	background:url(img/nav_icos.png) 0 0 no-repeat;
	background-size:24px;
}
.nav-box .ico.xingji {background-position-y:-24px;}
.nav-box .ico.quxiao {background-position-y:-48px;}
.nav-box>.action {padding:16px;}
/*nav-box:1*/
/*HeaderBox:0*/
.header-box {
	position:relative;
	background-color:#0085d0;
	text-align:center;
	padding:32px 16px;
	color:#fff;
}
#header.dark + #main>.header-box {padding:24px 24px 40px;}
.header-box::after {
	content:"";
	position:absolute;left:0;right:0;bottom:0;
	height:2px;
	background-color:rgba(0,0,0,.06);
}
.header-box>h1>em {color:#fff;font-size:20px;font-weight:700;}
.header-box>h1 + h3 {margin-top:16px;color:rgba(255,255,255,.8);}
/*HeaderBox:1*/
/*user-box:0*/
.user-box {
	background-color:#f9f9f9;
	border-bottom:1px solid #eee;
	text-align:center;
	padding:32px 24px;
}
.user-box .face {width:64px;height:64px;margin:0 auto;border-radius:32px;overflow:hidden;}
.user-box .info {margin-top:16px;}
.user-box .info>dt {color:#dc1b16;}
.user-box .info>dd {color:#999;padding:4px 0;}
.header-box>.user-box {background:none;border:none;padding:0;}
.header-box>.user-box .face {border:3px solid #fff; box-shadow:0 2px 0 rgba(0,0,0,.15);}
.header-box>.user-box .info>dt {color:#fff;font-size:14px;}
.header-box>.user-box .info>dd {color:rgba(255,255,255,.8);}
/*user-box:1*/
/*count-box:0*/
.count-box {
	display:-webkit-flex;display:flex;
	padding:24px 16px;
	background-color:#fff;
}
.count-box li {
	position:relative;
	-webkit-flex:1;flex:1;
	text-align:center;
	border-left:1px solid #eee;
}
.count-box li>a {display:block;}
.count-box li:first-child {border-left:none;}
.count-box li label {display:block;color:#999;}
.count-box li em {padding-bottom:8px;color:#0085d0;font-weight:700;}
/*count-box:1*/
/*Header:0*/
#wrapper {
	display:-webkit-flex;display:flex;  
	-webkit-flex-direction:column;
	flex-direction:column;
	width:100%;height:100%;
}
#main {
	-webkit-flex:1;flex:1;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
#header {
	display:-webkit-flex;display:flex;
	position:relative;z-index:10;
	width:100%;	
	background-color:#f9f9f9;
	max-width:414px;margin:0 auto;
	align-items:center;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
#header::after {
	content:'';
	position:absolute;
	left:0;bottom:0;right:auto;top:auto;
	height:1px;width:100%;
	background-color:#ddd;display:block;
	z-index:10;
}
#header>h1 {
	-webkit-felx:1;flex:1;
	font-size:14px;height:48px;line-height:48px;
	font-weight:400;
}
#header.noBack>h1 {left:0;padding-left:16px;}
#header.center>h1 {text-align:center;}

#header .btn {
	float:right;
	border:none;
	width:48px;
	height:48px;line-height:48px;
	text-indent:-9999px;
	background-color:transparent;
}
#header .btn>i {display:block;width:48px;height:48px;background:url(img/header_icos.png) -48px 0 no-repeat;background-size:96px;}

#header .btn.menu>i {background-position-y:-48px;}
#header .btn.search_m>i {background-position-y:-96px;}
#header .btn.close>i {background-position-y:-144px;}
#header .btn.readme>i {background-position-y:-192px;}
#header .btn.filter>i {background-position-y:-240px;}

#header .btn>em {display:none;}
#header .btn.back {float:left;}
#header .btn.txt {text-indent:0;background:none;color:#fff;line-height:48px;text-align:center;}
#header .btn.txt>em {display:block;} 

#header.dark {background-color:#0085d0;color:#fff;background-size:cover;}
#header.dark::after {display:none;}
#header.dark .btn>i {background-position-x:0;}
#header.dark h1 {color:#fff;}

#header>.select-box {position:absolute;top:0;right:10px;}
#header.dark>.select-box>select {height:48px;line-height:48px;color:#fff;background-color:#0085d0;}
#header.dark>.select-box::after {border-color:#fff;}
/*Header:1*/
/*Slick:0*/
.slick-slider {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display:table;
    content: '';
}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {display:none;}
.slick-dots {
    position: absolute;
	left:0;right:0;
    bottom:24px;
    text-align:center;
}
.slick-dots li {
    position:relative;
    display:inline-block;
    width:8px;
    height:8px;
    margin:0 4px;
    padding:0;
    cursor:pointer;
}
.slick-dots li button {
    font-size:0;
    line-height:0;
    display:block;width:8px;height:8px;
    padding:0px;
    cursor:pointer;
    border:0;
    outline:none;
    background:#0085d0;
	border-radius:8px;
	opacity:0.38;
}
.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {opacity:1;}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position:absolute;
    top:50%;
    display:block;
    width:24px;
    height:24px;
    margin-top:-10px;
    padding:0;
    color:transparent;
    border:none;
    outline:none;
    background:#0085d0;
	border-radius:12px;
	z-index:9;
	
}
.slick-prev {left:32px;}
.slick-next {right:32px;}
.slick-prev:before,
.slick-next:before {
	content:"";
	position:absolute;top:50%;left:50%;
	font-size:0;
	border-top:2px solid #fff;border-left:2px solid #fff;
	width:7px;height:7px;
	margin-top:-4px;
	margin-left:-3px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.slick-next:before {
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
	margin-left:-5px;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    opacity:.25;
}
/*Slick:1*/
/*search-box:0*/
.search-box {
	position:relative;z-index:10;
	width:100%;
	background-color:#0085d0;
	padding:0 16px 16px;
}
.search-box>.keyword {
	height:36px;line-height:34px;
	border:1px solid rgba(255,255,255,.62);
	padding-left:12px;
	padding-right:36px;
	color:#fff;
	border-radius:2px;
}
.search-box>a.keyword {color:rgba(255,255,255,.62);}
.search-box>.keyword::-webkit-input-placeholder {color:rgba(255,255,255,.38);}
.search-box>.btn.search {
	position:absolute;top:0;right:16px;
	width:36px;height:36px;
	border:none;
	background-color:transparent;
}
.search-box>.btn.search>i {
	position:absolute;top:10px;left:10px;
	width:16px;height:16px;
	background:url(img/ico_s.png) 0 0 no-repeat;
	background-size:48px;
}
.search-box>.btn.search>em {display:none;}
.search-box::after {
	content:"";
	position:absolute;bottom:0;left:0;
	width:100%;height:1px;
	background-color:rgba(0,0,0,.16);	
}
.search-box.hasIco::before {
	content:"";
	position:absolute;left:24px;top:10px;
	width:16px;height:16px;
	background:url(img/ico_s.png) 0 0 no-repeat;
	background-size:32px;
}
.search-box.hasIco .keyword {padding-left:32px;}

.search-box.hasBG .keyword {
	border:none;
	background-color:#fff;
	color:#666;
}
.search-box.hasBG>.keyword::-webkit-input-placeholder {color:#bbb;}
.search-box.hasBG>.btn.search>i {background-position-x:-16px;}

.search-box .select-box {
	position:absolute;
	left:8px;top:8px;width:90px;
}
.search-box .select-box>select {
	height:36px;line-height:36px;
	padding:0 24px 0 28px;
}
.search-box>.select-box + .keyword {padding-left:96px;}
.search-box .select-box .ico.location {
	position:absolute;
	top:10px;left:8px;
	width:16px;height:16px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////cGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxbcGxZYxJ6EAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNS8wOC8xOJ6RWVsAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAA30lEQVQokVWRTQ4BQRCFa/xlEOIGnIC5AScwjuAGruAAEi4g3IBj2GFpNTLsJ0T8ZpSqVt3T/Tbv1VfVNZluAFZxjngYgFEhQlLaM2CKSk9dl1E0cwfMSAGN/luqGVgrEFJ6BfkF2U0BTkOAEnMFIgnUSBWgzpW9Q0GDI3vdAjv2mgUu7E0NEsQ7+wjxq8CKQgsgR403SAfPAH2USbUdNxPUy8HP/kUuLdL1R+4j1CAWUNFgLMBL3BPmTGyA73yDteX6ndXQZrC3QJFBYAF+modd81MsHeAlacMB0D1J+AH5X+HdLHg+0gAAAABJRU5ErkJggg==) 0 0 no-repeat;
	background-size:16px;
}

#header .search-box {
	-webkit-flex:1;
	flex:1;
	padding:8px 8px 8px;
}
#header .search-box.hasIco::before {top:18px;left:18px;}
#header .search-box>.btn.search {top:8px;right:8px;width:36px;height:36px;}
#header .search-box>.btn.search>i {
	width:16px;height:16px;
	top:10px;left:10px;
	background:url(img/ico_s.png) 0 0 no-repeat;
	background-size:48px;
}
#header .search-box.hasBG>.btn.search>i {background-position-x:-16px;}
/*search-box:1*/
/*login:eye:0*/
.login .frm-boxs + .frm-action {border-bottom:none;}
.frm-action.links {
	padding:0 16px 16px;
	background-color:#f9f9f9;
	border-bottom:1px solid #ddd; 
}
.btn.pwdshow {
	width:48px;height:48px;
	border:none;
	background: none;
}
.ico.eye {
	display:block;
	width:24px;height:24px;
	background:url(img/ico_eye.png) 0 0 no-repeat;
	background-size:48px;
	margin:12px auto 0;
}
.btn.pwdshow.open .ico.eye {background-position-x:-24px;}
/*login:eye:1*/
.yixian_my>.count-box {border-bottom:1px solid #ddd;margin-bottom:8px;}
/*red-style:0*/
body.red .btn.submit,
body.red .btn.dark {background-color:#e71d36;}
body.red .btn.link {border-color:#e71d36;color:#e71d36;}
body.red .list>li .num {background-color:#e71d36;}
body.red .com-tab li.cur,
body.red .com-tab li.cur.link>a,
body.red .count-box li em {color:#e71d36;}
body.red .com-tab li.cur::after {background-color:#e71d36;}
body.red .com-tab li.cur i.num {background-color:#e71d36;}
body.red #header.dark {background-color:#e71d36;}
body.red #header.dark>.select-box>select {background-color:#e71d36;}
body.red .slick-dots li button {background:#e71d36;}
body.red .slick-prev,
body.red .slick-next {background:#e71d36;}
body.red .search-box,
body.red .header-box {background-color:#e71d36;}

/*red-style:1*/